doctype
html(lang=en)
  head
    title #{data.hostname} - My Site
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
        a.navbar-brand #{data.hostname}

    .container
      block content
      footer
        script(src="/scripts/jquery-1.11.1.min.js")
        script(src="/scripts/bootstrap.min.js")
